ENV="LOCAL"
VITE_DEPLOY_PATH="/piattaformaunitaria"
VITE_API_TIMEOUT=0
VITE_APIHOST="https://api.dev.p4pa.pagopa.it/pu"
VITE_APIHOST_FILESHARE="https://api.dev.p4pa.pagopa.it/pu/fileshare"
VITE_LOGIN_URL="https://dev.selfcare.pagopa.it/auth/login"
# Template URL/path for legal resources. Can be a full URL or an absolute path.
VITE_RESOURCES_URL="/piattaformaunitaria-legaldocs/{BROKER_EXTERNAL_ID}/{DOCUMENT_TYPE}/{DOC_LANGUAGE}_{DOCUMENT_TYPE}.md"
